.albumBannerContainer {
    align-items: center;
    display: flex;
    margin: 0px auto;
    /*display: inline;*/
}

.coverArtContainer {
    position: relative;
    align-items: center;
    box-shadow: 10px 5px 5px black;
}

.albumDetail {
    position: relative;
    text-align: right;
}

