<!DOCTYPE html>
<html lang="en">

<style>
    h1, h2, h3, h4, h5, h6 {
        color: black;
    }
</style>

<head>
    <meta charset="UTF-8">
    <script src="../static/js/jquery-3.7.1.min.js"></script>
<!--    <script src="../static/js/ColorThemeTest.js"></script>-->
    <title>Title</title>
</head>

<body>
<div id='albumBanner' style="background: linear-gradient(to bottom, {{colorTheme[0]}}, {{colorTheme[1]}})">
    <img src="{{album.artworkFilePath}}" alt="">
    <h1>{{album.title}}</h1>
    <h2>{{album.artist}}</h2>
    <h3>{{album.releaseYear}}</h3>
<!--    <h3 id='TEST'>{{colorTheme[0][0]}}</h3>-->

</div>



</body>
</html>