<!DOCTYPE html>
<html lang="en">

<!--<style>-->
<!--    h1, h2, h3, h4, h5, h6 {-->
<!--        color: black;-->
<!--    }-->
<!--</style>-->

<head>
    <meta charset="UTF-8">
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/album.css">
</head>

<body>
<div id='albumBanner' class="albumBannerContainer" style="background: linear-gradient(to bottom, {{colorTheme[0]}}, {{colorTheme[1]}})">

        <div class="coverArtContainer">
            <img class="coverArt" src="{{albumArtPath}}back.jpg" alt="">
            <img class="coverArt" src="{{albumArtPath}}front.jpg" alt="">
        </div>
        <div class="albumDetailsContainer">
            <h1>{{album.Title}}</h1>
            <h2>{{album.Artist}}</h2>
            <h3>{{album.ReleaseYear}}</h3>
        </div>

</div>



</body>
</html>